body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family:'Times New Roman', Times, serif;
    background-color:darkblue;
}
.todo-app{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
   
}
.content{
    background-color: #fff;
    min-height: 400px;
    width: 500px;
    padding:20px;
    border-radius: 10px;

}
h1{
    text-align: center;
    color: black;
}
input[type = "text"]{
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    outline:none ;

}
button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #ccc;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
li{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn{
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor:pointer;

}